.browser-window {
  margin-bottom: var(--ifm-leading);
  border: 3px solid var(--ifm-color-emphasis-200);
  border-radius: var(--ifm-global-radius);
  box-shadow: var(--ifm-global-shadow-lw);
}

.browser-window-header {
  display: flex;
  align-items: center;
  height: 43px;
  padding: 0.5rem 1rem;
  background: var(--ifm-color-emphasis-200);
}

.row::after {
  display: table;
  clear: both;
  content: "";
}

.buttons {
  white-space: nowrap;
}

.right {
  align-self: center;
  width: 10%;
}

[data-theme="light"] {
  --ifm-background-color: #fff;
}

.browser-window-address-bar {
  flex: 1 0;
  margin: 0 1rem 0 0.5rem;
  padding: 5px 15px;
  color: var(--ifm-color-gray-800);
  font: 400 13px Arial, sans-serif;
  background-color: var(--ifm-background-color);
  border-radius: 12.5px;
  user-select: none;
}

[data-theme="dark"] .browser-window-address-bar {
  color: var(--ifm-color-gray-300);
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-top: 4px;
  margin-right: 6px;
  background-color: #bbb;
  border-radius: 50%;
}

.browser-window-menu-icon {
  margin-left: auto;
}

.bar {
  display: block;
  width: 17px;
  height: 3px;
  margin: 3px 0;
  background-color: #aaa;
}

.browser-window-body {
  position: relative;
  height: calc(100% - 43px);
  overflow: hidden;
  background-color: var(--ifm-background-color);
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}

.browser-window-body *:last-child {
  margin-bottom: 0;
}
