@import "../../styles/_variables";

.launcher_skeleton {
  width: 100% !important;

  span {
    height: @top-bar-height !important;
  }
}

.launcher_header {
  z-index: 1000;
  padding: 0 24px !important;
  border-bottom: 1px solid #d9d9d9;
}
