.idea
.vscode
.git
.nyc_output

coverage
__mocks__
__tests__
.babelrc

mock-server
**/node_modules
node_modules
public
src

.dockerignore
*.env
.eslintrc
.gitignore
.gitlab-ci.yml
.prettier
CHANGELOG.md
Dockerfile
README.md
*.log
.nvmrc
.npmrc
CONTRIBUTING.md
