.pnp.*
.yarn/*

dist/
node_modules/
playground/
coverage/
mocks/

.vscode/
.idea/

# there's an experimental assert
**/packages/composer/web-test-runner.config.mjs
**/packages/interfaces/scripts/build-cli.mjs
