.userMenuOverlay_body {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15) !important;
  border: none !important;

  & .userMenuOverlay_entry {
    text-align: center;
    margin: auto !important;
    background: var(--microlc-primary-color-tint-89);

    & .userMenuOverlay_logout {
      color: var(--microlc-primary-color);
    }
  }
}
