label {
  display: flex;
  flex-direction: column;
  width: 70px;
  cursor: pointer;
  float: left;
}

label span {
  background: #1DA57A;
  border-radius: 10px;
  height: 7px;
  margin: 7px 0;
  transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}


span:nth-of-type(1) {
  width: 50%;
}

span:nth-of-type(2) {
  width: 100%;
}


span:nth-of-type(3) {
  width: 50%;
}


input[type="checkbox"] {
  display: none;
}


input[type="checkbox"]:checked ~ span:nth-of-type(1), input[type="checkbox"]:checked ~ span:nth-of-type(3) {
  transform: rotatez(180deg) translateX(-100%);
}


input[type="checkbox"]:checked ~ span:nth-of-type(2) {
  transform: rotatez(180deg)
}
