.container {
 display: flex;
 align-items: center;
}


label {
  display: flex;
  flex-direction: column;
  width: 32px;
  cursor: pointer;
  float: left;
  margin-right: 24px;
}

label span {
  background: #1DA57A;
  border-radius: 10px;
  height: 4px;
  transition: .2s linear;
}


span:nth-of-type(1) {
  width: 50%;
}

span:nth-of-type(2) {
  width: 100%;
  margin: 6px 0;
}

span:nth-of-type(3) {
  width: 50%;
}


input[type="checkbox"] {
  display: none;
}


input[type="checkbox"]:checked ~ span:nth-of-type(1), input[type="checkbox"]:checked ~ span:nth-of-type(3) {
  transform: translateX(100%);
}
