#layout-container {
  display: grid;
  grid-template-rows: 1fr min-content;
  width: 100%;
  height: 100%;
}

#manager-container {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 16px;
  margin: 16px 32px;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container label {
  margin-left: 8px;
}

input[type="color"] {
  display: block;
  width: 32px;
  height: 32px;
  border: none;
  opacity: 0;
}

.color-picker-wrapper {
  float: left;
  background: #9b1666;
  border-radius: 8px;
}
