{
  "extends": [
    "standard"
  ],
  "parser": "babel-eslint",
  "env": {
    "mocha": true
  },
  "rules": {
    "no-console": 2,
    "no-unused-vars": 2,
    "object-curly-spacing": [
      2,
      "never"
    ],
    "operator-linebreak": [
      2,
      "after"
    ]
  }
}
