.top-bar {
  width: calc(100% - 8px);
  height: calc(64px - 4px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
  margin: 4px 4px 0 4px;
  border-radius: 7px 7px 7px 0;
}

.layout {
  background: #84C0C6;
  color: #005b77;
}

.layout-content {
  height: calc(100% - 64px);
  width: 100%;
  display: grid;
  grid-template-columns: min-content 1fr;
}

.side-bar {
  height: calc(100% - 4px);
  width: calc(125px - 4px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
  margin: 0 0 4px 4px;
  border-radius: 0 0 7px 7px;
}

.side-bar span {
  writing-mode:vertical-lr;
  transform:scale(-1);
}

.content {
  height: calc(100% - 8px);
  width: calc(100% - 8px);
  margin: 4px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  background: #EBEFBF;
  color: #4a6b07;
}
