:root {
  --microlc-primary-color: #1890FF;
  --microlc-primary-color-tint-89: #E6F3FF;
  --microlc-body-background: #e8e8e8;
  --microlc-overlay-background: rgba(0, 0, 0, 0.25);
  --microlc-layout-header-background: white;
  --microlc-menu-label-color: #AAAAAA;
  --microlc-menu-hover-bg-color: rgba(45, 168, 155, 0.2);
  --microlc-menu-user-logout-color: #f54b42;
  --microlc-error-page-text-color: #0E0E0E;
  --microlc-theme-slider-color: #FFE58F;
  --microlc-top-bar-text-color: #858585;
  --microlc-side-menu-background: white;
}
