@import "../../styles/_colors";

.userMenu_container {
  cursor: pointer;
  display: flex;
  align-items: center;

  & .userMenu_icon {
    font-size: 16px;
    margin-right: 10px;
    color: var(--microlc-primary-color);
    transition: .2s linear;

    &.opened {
      transform: rotate(180deg);
    }
  }

  & .userMenu_name {
    font-size: 16px;
    color: @menu-label-color;
    margin-right: 10px;
  }

  & .userMenu_avatar {
    border-radius: 50%;
    height: 24px;
    width: 24px;
  }
}

.userMenu_entry {
  text-align: center;

  & .userMenu_logout {
    color: @menu-user-logout-color;
  }
}
