@import "../../styles/_variables";

.topBar_container {
  height: @top-bar-height;
  display: flex;
  align-items: center;
  color: var(--microlc-top-bar-text-color);

  & .logo {
    cursor: pointer;
    max-height: 90%;
  }

  & .topBar_divider {
    height: 44px;
    margin: 10px 25px;
    background: var(--microlc-top-bar-divider-color);
  }

  & .topBar_rightSide {
    max-height: 100%;
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  & .topBar_userMenu {
    margin-left: 24px;
  }
}
